In [1]:
#!/usr/bin/env python
# coding: utf-8
print("I have %d pens" %3)

I have 3 pens

In [2]:
print("%d pen cost %dTL" %(3,12))

3 pen cost 12TL

In [3]:
print("%d pen cost %.2fTL" %(3,12.3578999))

3 pen cost 12.36TL

In [4]:
print("%d pen cost %fTL" %(3,12.3578999))

3 pen cost 12.357900TL

In [5]:
print("%d pen cost %.7fTL" %(3,12.3578999))

3 pen cost 12.3578999TL

In [6]:
print("%d pen cost %.7fTL" %(3,12.35789997));

3 pen cost 12.3579000TL

In [7]:
print("%9.5f" % 5.1234567890) 
#Total 9 digits (including dot), 5 digits after dot
#and 4 digits for the decimal part (including dot)...

  5.12346

In [8]:
print("%9.5f" % 1234567890.1234567890)
#Total 9 digits (including dot), 5 digits after dot (4 digits for decimals). 
#But decimal digits are more than 4. 
#So all the decimals will be shown...

1234567890.12346

In [9]:
# THE USE OF F-STRINGS.......
age = 20
python_version = 3.8
print(f'Your age is {age}')
print(f'python_version={python_version}')
print(f'{age=}')
print(f'{python_version=}')

Your age is 20
python_version=3.8
age=20
python_version=3.8

In [ ]:
'''
Syntax: {:[width][.precision][type]}
Type:
d: integers
f: floating point numbers
*You need to specify precision only in case of floating point numbers
Study it from here:  
    https://towardsdatascience.com/a-simple-guide-to-string-formatting-in-python-using-f-strings-39e5c39589c3
'''

In [10]:
#...

In [11]:
'''If we want to add 6 blank spaces and align our text to the right, 
we only need to add a width of 8 (the default behavior is to align the text to the right)
'''

'If we want to add 6 blank spaces and align our text to the right, \nwe only need to add a width of 8 (the default behavior is to align the text to the right)\n'

In [12]:
number = 20
print(f'{number}')
print(f'{number:8}')
print(f'{number:>8}')   #Align to the right (width=8)
print(f'{number:_>8}')  #Align to the right (width=8)
print(f'{number:#>8}')  #Align to the right (width=8)
print(f'{number:#>20}')  #Align to the right (width=8)
print(f'{number:<8}')    #Align to the left  (width=8)
print(f'{number:_<8}')   #Align to the left  (width=8)
print(f'{number:$<8}')   #Align to the left  (width=8)
print(f'{number:$<20}')   #Align to the left  (width=8)
#We use _ as our padding above

20
      20
      20
______20
######20
##################20
20
20______
20$$$$$$
20$$$$$$$$$$$$$$$$$$

In [13]:
x = 20.123
#Right padding with zeros
print(f'{x:0<8}')
print(f'{x:c<8}') 
print(f'{2.7:6f}')
print(f'{2.7:X>10.6f}')

20.12300
20.123cc
2.700000
XX2.700000

In [14]:
'''
This is cool, but sometimes using the width makes things complicated because we have to calculate the final width 
of our number after adding the 0's.
It’s simpler to think of the number of decimals we want instead.
We can get this using .precision from the syntax shown before. Let’s add 0’s until we have 5 decimals.
'''

"\nThis is cool, but sometimes using the width makes things complicated because we have to calculate the final width \nof our number after adding the 0's.\nIt’s simpler to think of the number of decimals we want instead.\nWe can get this using .precision from the syntax shown before. Let’s add 0’s until we have 5 decimals.\n"

In [15]:
print(f'{x:.5f}')
print(f'{x:10.5f}')
print(f'{x:z>10.5f}')
print(f'{x:z<10.5f}')
#let's now write 01.03.2023 by using a=1, b=3, and c=2023

20.12300
  20.12300
zz20.12300
20.12300zz

In [16]:
#Left padding with zeros
'''
Now let’s add 0’s to the left. This is very useful when we need to create customized formats using numbers.
Say we want to obtain the following format: YYYYMMDD and we have regular numbers from 1–9. 
In this case, we’ll need to add 0’s to the left to the month and day.
Here are the 2 ways to do this with f-string.
'''

'\nNow let’s add 0’s to the left. This is very useful when we need to create customized formats using numbers.\nSay we want to obtain the following format: YYYYMMDD and we have regular numbers from 1–9. \nIn this case, we’ll need to add 0’s to the left to the month and day.\nHere are the 2 ways to do this with f-string.\n'

In [17]:
year = 2022;month = 1;day = 5

In [18]:
# YYYYMMDD
print(f'{year}{month:0>2}{day:0>2}')
print(f'{year}{month:02d}{day:02d}')
print(f'{year}.{month:02d}.{day:02d}')
print(f'{year}.{month:02d}.{day:02d}')
print("year=%d month=%d day=%d" %(year, month, day))
print("year=%d month=%02d day=%02d" %(year, month, day))
print(f'{month:02d}')
print(f'{month:02f}') #Total 2 digits and default precision is 6 digits...
print(f'{month:10f}') #Total 10 digits and default precision is 6 digits...
print(f'{month:X>10.7f}') #See below (total digit number=10, prec is 7)
print(f'{month:X>7.3f}') #See below

20220105
20220105
2022.01.05
2022.01.05
year=2022 month=1 day=5
year=2022 month=01 day=05
01
1.000000
  1.000000
X1.0000000
XX1.000

In [19]:
'''
Round float to “n” decimals
When it comes to rounding fload numbers to “n” decimals, it’s more practical to use the .precision with f type.
Let’s round the number below to 1 decimal.
'''

'\nRound float to “n” decimals\nWhen it comes to rounding fload numbers to “n” decimals, it’s more practical to use the .precision with f type.\nLet’s round the number below to 1 decimal.\n'

In [20]:
x = 20.123; print(f'{x:.1f}')
print(f'{x:.5f}')
print(f'{x:_<10.4f}')
print(f'{x:_>10.4f}')
print(f'{x:A>10.4f}')

20.1
20.12300
20.1230___
___20.1230
AAA20.1230

In [21]:
print(f'{1234.17:12.3f}')
print(f'{1234.17:X>12.3f}')

    1234.170
XXXX1234.170

In [22]:
print(f'{x:Y<10.4f}')
print(f'{x:Y>10.4f}')
print(f'{x:10.4f}') #default is right aligned...

20.1230YYY
YYY20.1230
   20.1230

In [23]:
#Also study from here: https://zetcode.com/python/fstring/

In [24]:
#Now some more examples on various expressions of print functions with f-strings....

In [25]:
s1='Mehmet'; s2='Akif'; s3='Ersoy';birth=1873;death=1936; print("%s %s %s was born in %d and died in %d" %(s1,s2,s3,birth,death))

Mehmet Akif Ersoy was born in 1873 and died in 1936

In [26]:
print(s1+s2+s3,'was born in' ,birth,'and died in',death)

MehmetAkifErsoy was born in 1873 and died in 1936

In [27]:
print("Sunday\nMonday\nTuesday\nWednesday\nThursday\nFriday\nSaturday") # /n means go to a new line

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [28]:
print("%.5f" % 5.1234567890)

5.12346

In [29]:
#(Here we do slicing strings)
(ss1,ss2,ss3,bbirth,ddeath)='Mehmet','Akif','Ersoy',1873,1936
print(ss1+ss2+ss3,'was born in' ,bbirth,'and died in',ddeath)
var1="It’s Sunday"
var2 = "Have a great day";
var3 = var1[:5] + var2[5:13] + var1[5:];
print(var3)
var4=var1[:5] + var2[5:13] + var1[8:];
print(var4)
len(var1)

MehmetAkifErsoy was born in 1873 and died in 1936
It’s a great Sunday
It’s a great day

11

In [30]:
print('Sam has {0} red balls and {1} yellow balls'.format(12, 31))

print('Sam has {1} red balls and {0} yellow balls'.format(12, 31))
#Burada kaldık...Perşembe buradan devam edilecek...

Sam has 12 red balls and 31 yellow balls
Sam has 31 red balls and 12 yellow balls

In [31]:
# Python program showing how to use
# string modulo operator(%) to print
# fancier output
# format:  %[flags][width][.precision]type

In [32]:
# print integer and float value
print("Geeks : %2d, Portal : %5.2f" % (1, 05.333))

Geeks :  1, Portal :  5.33

In [33]:
# print integer value
print("Total students : %3d, Boys : %2d" % (240, 120))
print("Total students : %3d, Boys : %5d" % (240, 120)) # attention:3 blanks on the left of 120

Total students : 240, Boys : 120
Total students : 240, Boys :   120

In [34]:
# print octal value
print("%7.3o" % (25))
print("%5.3o" % (25))
print("%7.2o" % (25))
# print exponential value
print("%10.3E" % (356.08977))
print("%9.3E" % (356.08977))
print("%15.3E" % (356.08977)) #☻see the differences (blanks on the left)

    031
  031
     31
 3.561E+02
3.561E+02
      3.561E+02

In [35]:
# using format() method
print('I love {} and "{}!"'.format('Aydin', 'Adu'))

I love Aydin and "Adu!"

In [36]:
# using format() method and referring
# a position of the object
print('{0} and {1}'.format('Aydin', 'Adu'))
print('{1} and {0}'.format('Aydin', 'Adu'))

Aydin and Adu
Adu and Aydin

In [37]:
# the above formatting can also be done by using f-Strings
# Although, this features work only with python 3.6 or above.

In [38]:
# Expressions of Integers in binary, octal, Hexadecimal, and E-forms
String1 = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(String1)

Binary representation of 16 is
10000

In [39]:
String1 = "{0:o}".format(16)
print("\nBinary representation of 16 is ")
print(String1)

Binary representation of 16 is
20

In [40]:
String1 = "{0:x}".format(16)
print("\nHexadecimal representation of 16 is ")
print(String1)

Hexadecimal representation of 16 is
10

In [41]:
String1 = "{0:x}".format(31)
print("\nHexadecimal representation of 31 is ")
print(String1)

Hexadecimal representation of 31 is
1f

In [42]:
String1 = "{0:X}".format(31)  #♥ in big charactersssss
print("\nHexadecimal representation of 31 is ")
print(String1)

Hexadecimal representation of 31 is
1F

In [43]:
# Formatting of Floats
String1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(String1)

Exponent representation of 165.6458 is
1.656458e+02

In [44]:
# Rounding off Integers
String1 = "{0:.2f}".format(1/6)
print("\none-sixth is : ")
print(String1)

one-sixth is :
0.17

In [46]:
#Study also th followings (Very important!!!): 
#    https://www.numpyninja.com/post/how-to-format-strings-using-print-in-python

In [47]:
print(f"I love {'Adu'} in \"{'Aydin'}!\"")    
#Above: Pay attention that \" means a quotation mark inside double quotation marks.

I love Adu in "Aydin!"

In [48]:
# using format() method and referring
# a position of the object
print(f"{'Aydin'} and {'Adu'}")

Aydin and Adu

In [49]:
# Python program showing
# a use of format() method

In [50]:
# combining positional and keyword arguments
print('{0} is a university in {1}, which is a city in the west of {other}.'.format('Adu', 'Aydin', other ='Turkey'))

Adu is a university in Aydin, which is a city in the west of Turkey.

In [51]:
# using format() method with number
print("Adu :{0:2d}, Portal :{1:8.2f}".format(12, 00.546))
print("Adu :{0:4d}, Portal :{1:8.2f}".format(12, 00.546))
print("Adu:{0:4d}, Portal :{1:4.2f}".format(12, 00.546))
print("Adu :{0:4d}, Portal :{1:Z>8.2f}".format(12, 00.546)) #See the differences...
print("Numberplate of Aydın :{0:4d}, Telephone code of Aydin:{1:0>5.3f}".format(9, 00.256)) 
print("Numberplate of Aydın :{0:0>2.0f}, Telephone code of Aydin:{1:0>5.3f}".format(9, 00.256))#See the differences...
print("Numberplate of Aydın :{0:0>2d}, Telephone code of Aydin:{1:0>5.3f}".format(9, 00.256)) #See the differences...

Adu :12, Portal :    0.55
Adu :  12, Portal :    0.55
Adu:  12, Portal :0.55
Adu :  12, Portal :ZZZZ0.55
Numberplate of Aydın :   9, Telephone code of Aydin:0.256
Numberplate of Aydın :09, Telephone code of Aydin:0.256
Numberplate of Aydın :09, Telephone code of Aydin:0.256

In [52]:
# Changing positional argument
print("Second argument: {1:3d}, first one: {0:7.2f}".format(47.42, 11))
print("Second argument: {1:3d}, first one: {0:$>7.2f}".format(47.42, 11))
print("Second argument: {1:3d}, first one: {0:$>7.4f}".format(47.42, 11))
print("Second argument: {1:3d}, first one: {0:$>10.2f}".format(47.42, 11)) #See the differences...
print("Geeks: {a:5d}, Portal: {p:8.2f}".format(a = 453, p = 59.058))

Second argument:  11, first one:   47.42
Second argument:  11, first one: $$47.42
Second argument:  11, first one: 47.4200
Second argument:  11, first one: $$$$$47.42
Geeks:   453, Portal:    59.06

In [53]:
# Python program to
# format a output using
# string() method

In [54]:
cstr = "I love Adu in Aydin in Turkey"
len(cstr)   #Number of characters (lenth of cstr)
# Printing the center aligned 
# string with fillchr
print ("Center aligned string with fillchr: ")
print (cstr.center(40, '#'))

Center aligned string with fillchr:
#####I love Adu in Aydin in Turkey######

In [55]:
# Printing the left aligned 
# string with "-" padding 
print ("The left aligned string is : ")
print (cstr.ljust(40, '-'))

The left aligned string is :
I love Adu in Aydin in Turkey-----------

In [56]:
# Printing the right aligned string
# with "-" padding 
print ("The right aligned string is : ")
print (cstr.rjust(40, '-'))

The right aligned string is :
-----------I love Adu in Aydin in Turkey

In [57]:
#Now slicing texts.... (very important)......

In [58]:
"""String Slicing
To access a range of characters in the String, the method of slicing is used. 
Slicing in a String is done by using a Slicing operator (colon). """

'String Slicing\nTo access a range of characters in the String, the method of slicing is used. \nSlicing in a String is done by using a Slicing operator (colon). '

In [59]:
cstr = "I love Adu in Aydin in Turkey"
print("Initial String: ")
print(cstr)

Initial String:
I love Adu in Aydin in Turkey

In [60]:
# Printing 3rd to 12th character
print("\nSlicing characters from 3-12: ")
print(cstr[3:12]) # last value (12th value) is not included...
print(cstr[0:10]) # last value (10th value) is not included...
print(cstr[0:6]+' '+cstr[23:29])

Slicing characters from 3-12:
ove Adu i
I love Adu
I love Turkey

In [61]:
# Printing characters between
# 3rd and 2nd last character
print("\nSlicing characters between " + "7th and 10th last character: ")
print(cstr[7:-10])

Slicing characters between 7th and 10th last character:
Adu in Aydin

In [62]:
print(cstr[::-1])  #reversing a string

yekruT ni nidyA ni udA evol I

In [ ]:
# Reverse the string using reversed and join function
new = "".join(reversed(cstr))
print(new)